spring:
  application:
    name: github-repo-api

  datasource:
    url: jdbc:postgresql://localhost:54321/postgres
    username: user
    password: admin
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

  sql:
    init:
      mode: always
